node_modules/
dist/
build/
data/

*.tsbuildinfo

.env
.env.*
!.env.example
!.env.template
!.env.development.local
!.env.test.local
!.env.production.local
!.env.local

google-sheets-credentials.json

*.log

coverage/

test-results/
playwright-report/
cypress/videos/
cypress/screenshots/

package-lock.json

.eslintcache

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?